venv/
__pycache__/
*.pyc
.DS_Store
.env
.idea/
.vscode/
*.log
dist/
build/
*.egg-info/
coverage
htmlcov/
.mypy_cache/
pytest_cache/
.ipynb_checkpoints/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.out
*.class
*.jar
